@model WardDapperMVC.Models.Domain.Consumable

<div id="consumableForm">
    <form asp-action="AddConsumable" method="post">
        <input type="hidden" asp-for="ManagerID" />

        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="FirstName" class="form-label">First Name<span style="color: red;">*</span></label>
                <input asp-for="FirstName" type="text" class="form-control" readonly />
                <span class="text-danger" asp-validation-for="FirstName"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="LastName" class="form-label">Last Name<span style="color: red;">*</span></label>
                <input asp-for="LastName" type="text" class="form-control" readonly />
                <span class="text-danger" asp-validation-for="LastName"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="ConsumableType" class="form-label">Consumable Type<span style="color: red;">*</span></label>
                <input asp-for="ConsumableType" type="text" class="form-control" />
                <span class="text-danger" asp-validation-for="ConsumableType"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="StockOnHand" class="form-label">Stock on Hand<span style="color: red;">*</span></label>
                <input asp-for="StockOnHand" type="number" class="form-control" />
                <span class="text-danger" asp-validation-for="StockOnHand"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="ParLevel" class="form-label">Par Level<span style="color: red;">*</span></label>
                <input asp-for="ParLevel" type="number" class="form-control" />
                <span class="text-danger" asp-validation-for="ParLevel"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="ReorderPoint" class="form-label">Reorder Point<span style="color: red;">*</span></label>
                <input asp-for="ReorderPoint" type="number" class="form-control" />
                <span class="text-danger" asp-validation-for="ReorderPoint"></span>
            </div>
        </div>

        <br />
        @if (TempData["msg"] != null)
        {
            <div id="notification" class="mb-3 alert alert-info">
                @TempData["msg"]
            </div>
        }

        <div class="d-flex justify-content-start align-items-center">
            <button type="submit" class="btn btn-success">Save</button>
            <span class="mx-2" style="border-right: 2px solid white; height: 24px;"></span>
            <a asp-controller="Consumable" asp-action="DisplayAllConsumable" class="my-2 btn btn-primary">Display Records</a>
        </div>

    </form>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Hide validation messages when user starts typing
            $('input, textarea').on('input', function () {
                $(this).siblings('.text-danger').hide();
            });
        });
        $(document).ready(function () {
            // Show notification if it exists
            if ($('#notification').text().trim() !== '') {
                $('#notification').fadeIn().delay(3000).fadeOut(); // Display for 3 seconds
            }
        });
    </script>
}
