@using WardDapperMVC.Models.Domain.Nurse
@using System.Security.Claims
@model MedAdministration
@{
    ViewData["Title"] = "View administration of none-sheduled medication";
}
<div class="wide-dark-box">
    <h1 class="text-center">ADMINISTER MEDICATION</h1>
    <hr style="border: 1px solid white; width: 100%; text-align: center;" />
    <p>
	    Welcome to the Administer Medication section. This feature is designed to facilitate the accurate recording of medications administered to patients under your care.
    </p>

    <form asp-action="AddRecord">
            <input asp-for="PatientId" id="PatientId" type="text" class="form-control" hidden>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="PatientNumber" class="form-label">Patient Number<span style="color: red;">*</span></label>
                    <div style="display: flex; align-items: center;">
                        <input asp-for="PatientNumber" id="PatientNo" type="text" class="form-control" placeholder="Enter Patient Number" style="flex: 1; margin-right: 10px;">
                        <button id="searchPatient" class="btn btn-primary">Search</button>
                        <!-- Spinner -->
                        <div id="patientLoading" style="display:none; margin-left: 10px;" class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="PatientNumber"></span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <label asp-for="PatientFirstName" class="form-label">Patient First Name<span style="color: red;">*</span></label>
                    <input asp-for="PatientFirstName" id="PatientFirstName" type="text" class="form-control" placeholder="Auto-Filled" readonly>
                    <span class="text-danger" asp-validation-for="PatientFirstName"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="PatientLastName" class="form-label">Patient Last Name<span style="color: red;">*</span></label>
                    <input asp-for="PatientLastName" id="PatientLastName" type="text" class="form-control" placeholder="Auto-Filled" readonly>
                    <span class="text-danger" asp-validation-for="PatientLastName"></span>
                </div>
            </div>

            <input asp-for="UserId" id="UserId" type="text" class="form-control" hidden>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="EmployeeNumber" class="form-label">Employee Number<span style="color: red;">*</span></label>
                    <div style="display: flex; align-items: center;">
                        <input asp-for="EmployeeNumber" id="EmployeeNo" type="text" class="form-control" placeholder="Enter Employee Number" style="flex: 1; margin-right: 10px;">
                        <button id="searchEmployee" class="btn btn-primary">Search</button>
                        <!-- Spinner -->
                        <div id="employeeLoading" style="display:none; margin-left: 10px;" class="spinner-border text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="EmployeeNumber"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="NurseFirstName" class="form-label">Nurse First Name<span style="color: red;">*</span></label>
                    <input asp-for="NurseFirstName" type="text" class="form-control" placeholder="Auto-Filled" readonly>
                    <span class="text-danger" asp-validation-for="NurseLastName"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="NurseLastName" class="form-label">Nurse Last Name<span style="color: red;">*</span></label>
                    <input asp-for="NurseLastName" type="text" class="form-control" placeholder="Auto-Filled" readonly>
                    <span class="text-danger" asp-validation-for="NurseLastName"></span>
                </div>
            </div>

           <div class="col-md-4">
              <label asp-for="Med" class="form-label">Medication<span style="color: red;">*</span></label>
              <textarea class="form-control" asp-for="Med" rows="3" placeholder="Enter medication name, dosage, route and frequency"></textarea>
              <span class="text-danger" asp-validation-for="Med"></span>
           </div>

                @{
                    var userRole = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
                    if (userRole == "NursingSister")
                    {
                        <div class="col-md-4">
                            <label asp-for="status" class="form-label">Type</label>
                            <select asp-for="status" class="form-control input-long">
                                <option value="">Select medication type</option>
                                <option value="Scheduled">Scheduled</option>
                                <option value="Non-Scheduled">Non-Scheduled</option>
                            </select>
                            <span class="text-danger" asp-validation-for="status"></span>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4">
                            <label asp-for="status" class="form-label">Status<span style="color: red;">*</span></label>
                            <input asp-for="status" type="text" class="form-control" value="Non-Scheduled"  readonly>
                            <span class="text-danger" asp-validation-for="status"></span>
                        </div>
                    }
                }

        <div class="col-md-4">
            <label asp-for="Date" class="form-label">Date and Time<span style="color: red;">*</span></label>
            <input asp-for="Date" type="datetime-local" class="form-control" placeholder="Required" step="60">
            <span class="text-danger" asp-validation-for="Date"></span>
        </div>

        <br />

        @if (TempData["msg"] != null)
        {
            <div class="alert alert-info">
                @TempData["msg"]
            </div>
        }

        <div class="d-flex justify-content-start align-items-center">
            <button type="submit" class="btn btn-success "> Add </button>
            <span class="mx-2" style="border-right: 2px solid White; height: 24px;"></span>
            <a href="~/MedAdministration/DisplayAllRecords" class="btn btn-primary">View All Records</a>
        </div>
        <br />
    </form>
</div>
<br />

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var patientUrl = '@Url.Action("GetPatientDetailsByNo", "Patient")';
        var employeeUrl = '@Url.Action("GetEmployeeDetailsByNo", "User")';

        $('#searchPatient').on('click', function (event) {
            event.preventDefault(); // Prevent the default form submission

            var patientNumber = $('#PatientNo').val().trim();

            if (patientNumber) {
                // Show the loading spinner
                $('#patientLoading').show();
                $.ajax({
                    url: patientUrl,
                    type: 'GET',
                    data: { patientNumber: patientNumber },
                    success: function (response) {
                        // Hide the loading spinner
                        $('#patientLoading').hide();

                        console.log('Response:', response); // Inspect the full response
                        if (response.success) {
                            console.log('Patient Id:', response.data.patientId);
                            console.log('First Name:', response.data.firstName); // Inspect individual fields
                            console.log('Last Name:', response.data.lastName);
                            $('#PatientId').val(response.data.patientId);
                            $('#PatientFirstName').val(response.data.firstName);
                            $('#PatientLastName').val(response.data.lastName);
                        } else {
                            alert(response.message);
                            $('#PatientId').val('');
                            $('#PatientFirstName').val('');
                            $('#PatientLastName').val('');
                        }
                    }
                    ,
                    error: function () {
                        // Hide the loading spinner
                        $('#patientLoading').hide();

                        // Handle any errors that occurred during the request
                        alert('Error retrieving patient details.');
                        $('#PatientFirstName').val('');
                        $('#PatientLastName').val('');
                    }
                });
            } else {
                // Display an alert if the patient number is empty
                alert('Please enter a patient number.');
            }
        });

        $('#searchEmployee').on('click', function (event) {
            event.preventDefault(); // Prevent the default form submission

            var employeeNumber = $('#EmployeeNo').val().trim();

            if (employeeNumber) {
                // Show the loading spinner
                $('#employeeLoading').show();

                $.ajax({
                    url: employeeUrl,
                    type: 'GET',
                    data: { employeeNumber: employeeNumber },
                    success: function (response) {
                        // Hide the loading spinner
                        $('#employeeLoading').hide();

                        console.log('Response:', response); // Inspect the full response
                        if (response.success) {
                            console.log('UserId:', response.data.userId);
                            console.log('First Name:', response.data.firstName); // Inspect individual fields
                            console.log('Last Name:', response.data.lastName);
                            $('#UserId').val(response.data.userId);
                            $('#NurseFirstName').val(response.data.firstName);
                            $('#NurseLastName').val(response.data.lastName);
                        } else {
                            alert(response.message);
                            $('#UserId').val('');
                            $('#NurseFirstName').val('');
                            $('#NurseLastName').val('');
                        }
                    },
                    error: function () {
                        // Hide the loading spinner
                        $('#employeeLoading').hide();

                        // Handle any errors that occurred during the request
                        alert('Error retrieving nurse details.');
                        $('#UserId').val('');
                        $('#NurseFirstName').val('');
                        $('#NurseLastName').val('');
                    }
                });
            } else {
                // Display an alert if the employee number is empty
                alert('Please enter an employee number.');
            }
        });

    </script>
}