@model WardDapperMVC.Models.Domain.User
@{
    ViewData["Title"] = "NewPassword";
}

<html>
    <head>
        <style>
            /* Inline CSS to set the background image */
            body {
                margin: 0;
                padding: 0;
                background-image: url('../Images/login_background.jpg'); /* Path to your background image */
                background-size: cover; /* Ensures the image covers the entire viewport */
                background-position: center; /* Centers the image */
                background-repeat: repeat-y; /* Prevents the image from repeating */
                height: 100vh; /* Ensures the body covers the full height of the viewport */
                width: 100vw; /* Ensures the body covers the full width of the viewport */
               
            }
        </style>
    </head>
    <body>
        <div class="container wide-dark-box-login">
            <div class="card-body">
                <h2 class="text-center mb-4" style="color: white;">Create New Password</h2>
        
                <form asp-action="NewPassword" method="post">
                    <div class="form-group position-relative mb-3">
                        <label asp-for="Password" class="form-label">New password</label>
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control" id="passwordInput">
                            <span class="input-group-text">
                                <i class="fa fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                            </span>
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group position-relative mb-3">
                        <label asp-for="Password" class="form-label">Confirm password</label>
                        <div class="input-group">
                            <input asp-for="Password" type="password" class="form-control" id="passwordInputConf">
                            <span class="input-group-text">
                                <i class="fa fa-eye" id="togglePasswordConfi" style="cursor: pointer;"></i>
                            </span>
                        </div>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <p>
                        Password must:​<br />
                        Have at least 1 capital letter(A-Z)​​<br />
                        Have at least 8 characters(a-z)​​<br />
                        Have at least 1 number(1-9)​​<br />
                        Have at least 1 special character(!#$%^&*_-)​<br />
                     </p>
                    <br />
                    <button type="submit" class="btn btn-primary w-100">Confrim</button>
                    <div class="d-grid gap-2">
                     <a href="~/Login/Login" class="my-2 btn btn-primary">Back to Login</a>
                    </div>

                </form>
            </div>
        </div>
    </body>
</html>