@model WardDapperMVC.Models.Domain.User
@{
    ViewData["Title"] = "ValidationPage";
}

<html>
    <head>
        <style>
            /* Inline CSS to set the background image */
            body {
                margin: 0;
                padding: 0;
                background-image: url('../Images/login_background.jpg'); /* Path to your background image */
                background-size: cover; /* Ensures the image covers the entire viewport */
                background-position: center; /* Centers the image */
                background-repeat: repeat-y; /* Prevents the image from repeating */
                height: 100vh; /* Ensures the body covers the full height of the viewport */
                width: 100vw; /* Ensures the body covers the full width of the viewport */
       
            }
        </style>
    </head>
    <body>
        <div class="container wide-dark-box-login">
            <div class="card-body">
                <h2 class="text-center mb-4" style="color: white;">One Time Pin</h2>
                <p>Enter your phone number and an OTP(One Time Pin ) will be sent to you via SMS.</p>
                <form asp-action="ValidationPage" method="post">
                    <div class="mb-3">
                        <label for="OTP" class="form-label">One Time Pin(OTP)</label>
                        <input type="text" class="form-control" id="OTP" placeholder="000 000">
                    </div>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a href="~/Login/ForgotPassword" class="my-2 btn btn-primary">Back</a>
                    <a href="~/Login/NewPassword" class="my-2 btn btn-primary">Next</a>
                </form>
            </div>
        </div>
    </body>
</html>