@using WardDapperMVC.Models.Domain.Nurse
@model TreatPatient
@{
    ViewData["Title"] = "Update patient treatment record";
}
<div class="wide-dark-box">
    <h3 class="text-center">UPDATE PATIENT</h3>
    <hr style="border: 1px solid white; width: 100%; text-align: center;" />
    <p class="text-center">
        Welcome to the Treat Patient section of our Ward Management System. This tool is designed to assist you in providing comprehensive treatment to patients under your care.
    </p>

    <form asp-action="UpdateRecord">

        <input asp-for="TreatPatientID" id="TreatPatientID" type="text" class="form-control" hidden>
        <input asp-for="PatientId" id="PatientId" type="text" class="form-control" hidden>

        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="PatientNumber" class="form-label">Patient Number<span style="color: red;">*</span></label>
                <input asp-for="PatientNumber" id="PatientNo" type="text" class="form-control" readonly>
                <span class="text-danger" asp-validation-for="PatientNumber"></span>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <label asp-for="PatientFirstName" class="form-label">Patient First Name<span style="color: red;">*</span></label>
                <input asp-for="PatientFirstName" id="PatientFirstName" type="text" class="form-control" readonly>
                <span class="text-danger" asp-validation-for="PatientFirstName"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="PatientLastName" class="form-label">Patient Last Name<span style="color: red;">*</span></label>
                <input asp-for="PatientLastName" id="PatientLastName" type="text" class="form-control"readonly>
                <span class="text-danger" asp-validation-for="PatientLastName"></span>
            </div>
        </div>

        <input asp-for="UserId" id="UserId" type="text" class="form-control" hidden>

        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="EmployeeNumber" class="form-label">Employee Number<span style="color: red;">*</span></label>
                <input asp-for="EmployeeNumber" id="EmployeeNo" type="text" class="form-control" readonly>
                <span class="text-danger" asp-validation-for="EmployeeNumber"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="NurseFirstName" class="form-label">Nurse First Name<span style="color: red;">*</span></label>
                <input asp-for="NurseFirstName" type="text" class="form-control"readonly>
                <span class="text-danger" asp-validation-for="NurseLastName"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="NurseLastName" class="form-label">Nurse Last Name<span style="color: red;">*</span></label>
                <input asp-for="NurseLastName" type="text" class="form-control" readonly>
                <span class="text-danger" asp-validation-for="NurseLastName"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label asp-for="Date" class="form-label">Visit Date<span style="color: red;">*</span></label>
                <input asp-for="Date" type="date" class="form-control">
                <span class="text-danger" asp-validation-for="Date"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <label asp-for="TreatmentType" class="form-label">Treatment<span style="color: red;">*</span></label>
                <textarea class="form-control" asp-for="TreatmentType" rows="3"></textarea>
                <span class="text-danger" asp-validation-for="TreatmentType"></span>
            </div>
        </div>
        <br />

        @if (TempData["msg"] != null)
        {
            <div class="alert alert-info">
                @TempData["msg"]
            </div>
        }

        <div class="d-flex justify-content-start align-items-center">
            <button type="submit" class="btn btn-success "> Add </button>
            <span class="mx-2" style="border-right: 2px solid #000; height: 24px;"></span>
            <a href="~/TreatPatient/DisplayAllRecords" class="btn btn-primary">View All Records</a>
        </div>
        <br />
    </form>
</div>
