@{
    ViewData["Title"] = "Contact Us";
}

<div class="wide-dark-box">
    <h1 class="text-center">CONTACT US</h1>
    <h2>SHIFT Contact Information</h2>

    <p>
        If you have any questions or need assistance, please feel free to reach out to us.
    </p>

    <h3>General Inquiries:</h3>
    <p>Email: <a href="mailto:Shift@Shiftexcellence.ac.za">Shift@Shiftexcellence.ac.za</a></p>
    <p>Phone: (011) 523-4567</p>

    <h3>Address:</h3>
    <p>
        308 Negra Arroyo Lane,<br>
        Piermont, Alburquerque, NM
    </p>

    <h3>Operating Hours:</h3>
    <p>Open: Every Day, 24 Hours</p>
</div>

