@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<div class="wide-dark-box">
    <h1 class="text-center">Frequently Asked Questions</h1>

    <h2>General Questions</h2>

    <h3>1. What services does the Ward Management System provide?</h3>
    <p>
        The Ward Management System streamlines patient admission and discharge, manages patient care, facilitates doctor-patient interactions, and oversees the management of consumables and prescriptions.
    </p>

    <h3>2. What information is collected during patient admission?</h3>
    <p>
        During admission, essential patient information is captured, including personal details, medical history, and chronic medications. This information helps ensure proper care throughout their stay.
    </p>

    <h3>3. How is my medication managed while I’m in the hospital?</h3>
    <p>
        The Patient Care Subsystem ensures that medications are administered securely by qualified staff. Only nursing sisters can dispense higher schedule medications, ensuring compliance with safety protocols.
    </p>

    <h3>4. How can I access my medical records?</h3>
    <p>
        You can request access to your medical records by contacting our medical records department via email at <a href="mailto:records@Shiftexcellence.ac.za">records@Shiftexcellence.ac.za</a>.
    </p>

    <h3>5. Who can I contact for further inquiries?</h3>
    <p>
        For any additional questions or assistance, please refer to our <a  asp-controller="Home" asp-action="Contact">Contact</a> page for email addresses and phone numbers.
    </p>
</div>

