@{
    ViewData["Title"] = "Home";
}

<html>
    <head>
        <style>
            /* Inline CSS to set the background image */
            body {
                margin: 0;
                padding: 0;
               background-image: url('@Url.Content("~/Images/login_background.jpg")'); /* Background image */
                background-size: cover; /* Ensures the image covers the entire viewport */
                background-position: center; /* Centers the image */
                background-repeat: repeat-y; /* Repeats the image vertically */
                height: 100%; /* Ensures the body height is 100% of the viewport height */
                width: 100%; /* Ensures the body width is 100% of the viewport width */
           
            }
        </style>
    </head>
    <body>
        <div class=" text-center wide-dark-box">
            <h1 class="display-4">Welcome to S.H.I.F.T</h1>
            <p class="lead">System for Healthcare Integration and Facility Tracking</p>
            <p>
                Welcome to the Ward Management System, an integral part of the System for Healthcare Integration and Facility Tracking (SHIFT). 
                This platform is designed to streamline and enhance the management of patient care within our healthcare facility​.
                Our Ward Management System offers a comprehensive suite of tools to assist healthcare professionals in efficiently managing patient admissions, tracking vital signs, recording medications, and monitoring overall patient care. 
                With an intuitive interface and real-time updates, our goal is to support you in delivering the highest quality of care to our patients.​
       
            </p>
            <p>
                <br />
                Thank you for your commitment to excellence in patient care. Your dedication and attention to detail are vital to the success of our healthcare facility. Should you have any questions or need assistance, our support team is always here to help.​
            </p>
            <p>
                <br />
                Welcome to a new era of integrated healthcare management with SHIFT!
            </p>
@*
            <div class="row justify-content-center mt-5">
                <div class="col-md-3">
                    <a href="/HospitalInformation/DisplayAllHospital" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_hospital.svg" alt="Manage Hospital" class="img-fluid">
                        Manage Hospital Info
                    </a>
                 </div>
                <div class="col-md-3">
                    <a href="/User/DisplayAllUser" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_employees.svg" alt="Manage Employess" class="img-fluid">
                        Manage Employess
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/Ward/DisplayAllWard" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_beds_wards.svg" alt="Manage Wards" class="img-fluid">
                        Manage Wards
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/Consumable/DisplayAllConsumable" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_consumables.svg" alt="Manage Consumables" class="img-fluid">
                        Manage Consumables
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/Allergy/DisplayAllAllergy" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_allergies.svg" alt="Manage Allergies" class="img-fluid">
                        Manage Allergies
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/Condition/DisplayAllCond" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_conditions.svg" alt="Manage Conditions" class="img-fluid">
                        Manage Conditions
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="/Medication/DisplayAllMed" class="btn btn-outline-light btn-lg btn-block">
                        <img src="~/Images/Admin/manage_medication.svg" alt="Manage Medication" class="img-fluid">
                        Manage Medication
                    </a>
                </div>
                
            </div>*@
        </div>
    </body> 
</html>

